body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Trade Gothic W01 Light", Helvetica, Arial, "Lucida Grande", sans-serif; }

header {
  width: 100%;
  height: 100%;
  min-height: 600px; }

#background {
  background: url("../img/rawblue.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  min-height: 600px;
  filter: blur(1spx);
  box-shadow: 0 0 5px 1px #000; }

#union {
  background: url("http://1.bp.blogspot.com/_NdssK-xlQPI/TTYIdejOV0I/AAAAAAAAHa0/ZZ9T5AOcIb8/s1600/useIMG_6299.JPG");
  position: absolute;
  width: 100%;
  z-index: -8;
  height: 50px; }

#face {
  text-align: center;
  height: 100%; }
  #face .wrapper {
    color: #eee;
    width: 100%;
    height: 100%;
    float: right;
    max-width: 450px;
    background: #2F9AE6; }
    #face .wrapper .top, #face .wrapper .bottom {
      padding: 10px;
      color: #fff;
      width: 100%;
      font-size: 40px;
      font-weight: 100; }
    #face .wrapper .bottom {
      font-size: 25px;
      font-weight: 100; }
    #face .wrapper img {
      margin: 10px 0;
      width: 80%;
      border-radius: 100%;
      border: 1px solid #fff; }
    #face .wrapper .subname {
      font-size: 20px; }

#manifesto {
  padding-top: 50px;
  width: 100%;
  max-width: 1200px;
  margin: auto auto;
  padding-bottom: 50px; }
  #manifesto .featurette .featurette-heading {
    margin-top: 100px; }
    #manifesto .featurette .featurette-heading .text-muted {
      color: #2F9AE6; }
  #manifesto .featurette-br {
    border-bottom: thin solid #ccc;
    width: 90%;
    margin: 50px auto;
    height: 20px; }

#vote-now {
  height: 100%;
  background: #333;
  position: relative;
  line-height: 100%; }
  #vote-now .wrapper {
    padding-top: 50px; }
    #vote-now .wrapper .voting-time {
      color: #333;
      text-align: center;
      font-size: 40px;
      background: #2F9AE6;
      padding: 20px;
      max-width: 700px;
      margin: auto auto; }
  #vote-now .centerme {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%; }
    #vote-now .centerme .image {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: auto auto;
      text-align: center; }
      #vote-now .centerme .image img {
        width: 95%;
        max-width: 800px;
        margin-bottom: 100px; }

@media only screen and (min-width: 561px) {
  #face {
    padding-top: 80px; }
    #face .wrapper img {
      margin: 40px 0; } }
